<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="IXIGO">

<!--    <parameter name="projectId" value="12"></parameter>-->

    <test name="Get Best Deals">
        <classes>
            <class name="BestFlightDeals"/>
        </classes>
    </test>
</suite>
